{% extends "base.html" %}
{% block title %}Terminy ⋅ EduPro{% endblock %}
{% block content %}
<div class="container">
    <h1>Terminy</h1>
    {% if messages %}
        {% for message in messages %}
        <div class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% endif %}">
        {{ message }}
        </div>
        {% endfor %}
    {% endif %}
    {% if user.is_authenticated %}
    <form action="" method="POST">
        {% csrf_token %}
        <div class="d-flex mt-5 mb-3">
        <input type="hidden" name="form_type" value="selectTutor">
        <select class="form-control w-50 me-3" id="tutor" name="tutor" placeholder="Wybierz korepetytora" required>
            <option value="" disabled selected hidden>Wybierz korepetytora</option>
            {% for user in users %}
                {% if user.account_type == 'tutor' %}
                    <option value="{{ user.username }}">{{ user.name }} {{ user.surname }} - {{ user.subject }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-primary">Sprawdź terminy</button>    
        </div>
    </form>
        {% if chosen_tutor_name %}
        <p>Wybrany korepetytor: {{ chosen_tutor_name }}</p>
        {% endif %}
    <form action="" method="POST">
        {% csrf_token %}
        <input type="hidden" name="form_type" value="selectDate">
        <input type="hidden" name="chosenTutor" value="{% if chosen_tutor_username %}{{chosen_tutor_username}}{% else %}{% endif %}">
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    {% for day in weekdays %}
                        <th class="calendar-header">{{ day }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for week in cal %}
                    <tr>
                        {% for day in week %}
                            {% if day %}
                                <td class="calendar-day">
                                    {{ day }}
                                    <div class="hour-checkboxes" data-toggle="buttons">
                                        {% for hour in hours %}
                                            <label class="btn 
                                            {% if taken_dates %}
                                            {% for taken_date in taken_dates %}
                                            {% for taken_hour in taken_hours %}
                                            {% if forloop.counter == forloop.parentloop.counter %}
                                            {% if day < current_day or day == current_day and hour <= current_hour %}
                                            btn-outline-secondary
                                            {% elif day == taken_date and hour == taken_hour %}
                                            btn-outline-danger
                                            {% else %}
                                            btn-outline-success
                                            {% endif %}
                                            {% endif %}
                                            {% endfor %}
                                            {% endfor %}
                                            {% else %}
                                            {% if day < current_day or day == current_day and hour <= current_hour %}
                                            btn-outline-secondary
                                            {% else %}
                                            btn-outline-success
                                            {% endif %}
                                            {% endif %}
                                            btn-sm mt-1">
                                                <input type="radio" name="selected_hours" value="{% if day < 10 %}0{{ day }}{% else %}{{ day }}{% endif %}.{% if month < 10 %}0{{ month }}{% else %}{{ month }}{% endif %} {{ hour }}:00" onchange="toggleCheckbox(this)"
                                                {% for taken_date in taken_dates %}
                                                {% for taken_hour in taken_hours %}
                                                {% if forloop.counter == forloop.parentloop.counter %}
                                                {% if not chosen_tutor_name or day < current_day or day == current_day and hour <= current_hour or day == taken_date and hour == taken_hour%}
                                                disabled
                                                {% endif %}
                                                {% endif %}
                                                {% endfor %}
                                                {% endfor %}
                                                {% if not chosen_tutor_name or day < current_day or day == current_day and hour <= current_hour %}
                                                disabled
                                                {% endif %}>
                                                {{ hour }}:00
                                            </label>
                                        {% endfor %}
                                    </div>
                                </td>
                            {% else %}
                                <td class="empty-cell">&nbsp;</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary mb-5 mt-3 float-end">Potwierdź termin</button>
    </form>
</div>
<script>
    function toggleCheckbox(checkbox) {
        var checkboxes = document.querySelectorAll('input[type="radio"]');
        
        checkboxes.forEach(function (otherCheckbox) {
            if (otherCheckbox !== checkbox) {
                otherCheckbox.checked = false;
                var otherLabel = otherCheckbox.parentElement;
                otherLabel.classList.remove('checked');
                otherLabel.style.backgroundColor = '';
            }
        });

        var label = checkbox.parentElement;
        if (checkbox.checked) {
            label.classList.add('checked');
            label.style.backgroundColor = '#198754';
        } else {
            label.classList.remove('checked');
            label.style.backgroundColor = '';
        }
    }
</script>
{% else %}
<div class="alert alert-success">
    Zaloguj się, aby wyświetlić terminy.
</div>
{% endif %}
{% endblock %}
