{% extends "base.html" %}
{% block title %}Terminy ⋅ EduPro{% endblock %}
{% block content %}
<div class="container">
    <h1>Terminy</h1>
    {% if messages %}
        {% for message in messages %}
        <div class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% endif %}">
        {{ message }}
        </div>
        {% endfor %}
    {% endif %}
    {% if user.is_authenticated %}
    <form action="" method="POST">
        {% csrf_token %}
        <select class="form-control mt-5 w-50" id="tutor" name="tutor" placeholder="Wybierz korepetytora" required>
            <option value="" disabled selected hidden>Wybierz korepetytora</option>
            {% for user in users %}
                {% if user.account_type == 'tutor' %}
                    <option value="{{ user.username }}">{{ user.name }} {{ user.surname }} - {{ user.subject }}</option>
                {% endif %}
            {% endfor %}
        </select>    
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    {% for day in weekdays %}
                        <th class="calendar-header">{{ day }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for week in cal %}
                    <tr>
                        {% for day in week %}
                            {% if day %}
                                <td class="calendar-day">
                                    {{ day }}
                                    <div class="hour-checkboxes" data-toggle="buttons">
                                        {% for hour in hours %}
                                            <label class="btn btn-outline-success btn-sm mt-1">
                                                <input type="radio" name="selected_hours" value="{% if day < 10 %}0{{ day }}{% else %}{{ day }}{% endif %}.{% if month < 10 %}0{{ month }}{% else %}{{ month }}{% endif %} {{ hour }}" onchange="toggleCheckbox(this)">
                                                {{ hour }}
                                            </label>
                                        {% endfor %}
                                    </div>
                                </td>
                            {% else %}
                                <td class="empty-cell">&nbsp;</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary mb-5 mt-3 float-end">Potwierdź termin</button>
    </form>
</div>
<script>
    function toggleCheckbox(checkbox) {
        var checkboxes = document.querySelectorAll('input[type="radio"]');
        
        checkboxes.forEach(function (otherCheckbox) {
            if (otherCheckbox !== checkbox) {
                otherCheckbox.checked = false;
                var otherLabel = otherCheckbox.parentElement;
                otherLabel.classList.remove('checked');
                otherLabel.style.backgroundColor = '';
            }
        });

        var label = checkbox.parentElement;
        if (checkbox.checked) {
            label.classList.add('checked');
            label.style.backgroundColor = '#198754';
        } else {
            label.classList.remove('checked');
            label.style.backgroundColor = '';
        }
    }
</script>
{% else %}
<div class="alert alert-success">
    Zaloguj się, aby wyświetlić terminy.
</div>
{% endif %}
{% endblock %}
